<ion-view title="About Developer" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="aboutDeveloper-list13" class=" ">
            <ion-item class="item-thumbnail-left  " id="aboutDeveloper-list-item22">
                <img src="img/n2iuo9nxTZa1sLkBHgqJ_DeveloperPic.jpg">
                <h2>Anubhav Shrimal</h2>
                <p style="white-space:normal;">Some Quotation or Info here.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>