<ion-view title="ChatBot" hide-nav-bar="true" id="page14" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <ion-list id="chatBot-list16" class=" ">
            <ion-item class="item-avatar  " id="chatBot-list-item32" ui-sref="yourProfileView">
                <h2>Chat Bot</h2>
                <p>Online/Offline if no internet</p>
            </ion-item>
        </ion-list>
        <ion-list id="chatBot-list17" class=" ">
            <ion-item id="chatBot-list-item33" class="  ">message 1</ion-item>
            <ion-item id="chatBot-list-item34" class="  ">Item 2</ion-item>
            <ion-item id="chatBot-list-item35" class="  ">Item 3</ion-item>
        </ion-list>
        <div>
            <ion-footer-bar align-title="left" class="bar-dark">
                <div class="buttons">
                    <button class="button">Attachament</button>
                </div>
                <div><textarea type="text"></textarea>
                </div>
                <div class="buttons" ng-click="doSomething()">
                    <button class="button">Record/Send</button>
                </div>
            </ion-footer-bar>
        </div>
    </ion-content>
</ion-view>