<ion-view title="Chats" hide-nav-bar="true" id="page6" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <ion-list id="chats-list5" class=" ">
            <ion-item class="item-avatar  " id="chats-list-item1" ui-sref="privateChat">
                <img src="img/xUiSuZN3Skyjlp6GS4mx_emma_watson_hot_looks-wide.jpg">
                <h2>Emma Watson</h2>
                <p>Hello! how are you?</p>
            </ion-item>
            <ion-item class="item-avatar  " id="chats-list-item2" ui-sref="privateChat">
                <img src="img/AxrOoKoKT76l7SyceYRA_HP_wp_hero_1280x1024.jpg">
                <h2>Harry Potter</h2>
                <p>Avada Kedavra :P</p>
            </ion-item>
            <ion-item class="item-avatar  " id="chats-list-item3" ui-sref="privateChat">
                <img src="img/62CKBkHzSzi0qVdxdSX9_selena-gomez-smile-317.jpg">
                <h2>Selena Gomez</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="chats-list-item4" ui-sref="chatBot">
                <img src="img/lOnfw6ngTQWqFNLaPJ8m_chat_bot.jpg">
                <h2>Chat Bot</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>