<ion-view title="FriendProfileView" hide-nav-bar="true" id="page17" class=" ">
  <div class="row bar bar-header">
    <div class="col"><a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="myGoBack()">Back</a></div>
    <div class="col" ><div class="h4 title">abc</div></div>
  </div>
    <ion-content padding="true" class="manual-ios-statusbar-padding has-header">
        <div>
            <div style="text-align: center;">
                <input type="image" src="http://khojmaster.com/ui/user/realestate/assets/img/no-user.jpg" width="120px" style=" border-radius: 50%;" ng-click="">
                <input type="file" id="my_file" style="display: none;">
            </div>
        </div>
        <ion-list id="friendProfileView-list15" class=" ">
            <form id="friendProfileView-form8" class="list ">
                <ion-item id="friendProfileView-list-item30" class="  ">Contact No.:</ion-item>
                <ion-item id="friendProfileView-list-item31" class="  ">Status:</ion-item>
            </form>
            <ion-item class="item-divider " id="friendProfileView-list-item-divider2">Groups in common:</ion-item>
            <ion-item class="item-avatar  " id="friendProfileView-list-item26">
                <h2>Item 1</h2>
                <p>name of the people in group</p>
            </ion-item>
            <ion-item class="item-avatar  " id="friendProfileView-list-item27">
                <h2>Item 2</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
