<ion-view title="GroupProfileView" hide-nav-bar="true" id="page21" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <div style="text-align: center;">
                <input type="image" src="http://khojmaster.com/ui/user/realestate/assets/img/no-user.jpg" width="120px" style=" border-radius: 50%;" ng-click="">
                <input type="file" id="my_file" style="display: none;">
            </div>
        </div>
        <ion-list id="groupProfileView-list18" class=" ">
            <form id="groupProfileView-form9" class="list ">
                <label class="item item-input " id="groupProfileView-input13">
                    <span class="input-label">{Group Name}</span>
                    <input type="text" placeholder="">
                </label>
            </form>
            <ion-item class="item-divider " id="groupProfileView-list-item-divider3">Participants:</ion-item>
            <ion-item class="item-avatar  " id="groupProfileView-list-item38">
                <h2>Name of the group member</h2>
                <p>status</p>
            </ion-item>
            <ion-item class="item-avatar  " id="groupProfileView-list-item39">
                <h2>Item 2</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>