<ion-view title="Groups" hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <ion-list id="groups-list6" class=" ">
            <ion-item class="item-avatar  " id="groups-list-item5" ui-sref="groupChat">
                <img src="img/T52CVO2eRvcuGQEvBpOm_14.jpg">
                <h2>F.R.I.E.N.D.S</h2>
                <p>Ritika: hellos every1</p>
            </ion-item>
            <ion-item class="item-avatar  " id="groups-list-item6" ui-sref="groupChat">
                <img src="img/ae5sqDSsTTCnKUSGhsyG_7.png">
                <h2>Gang</h2>
                <p>Anubhav: hey!!! :D</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>