<ion-view title="GroupChat" hide-nav-bar="true" id="page20" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <ion-list id="groupChat-list10" class=" ">
            <ion-item class="item-avatar  " id="groupChat-list-item14" ui-sref="groupProfileView">
                <h2>Name of your friend</h2>
                <p>Online/ time ago</p>
            </ion-item>
        </ion-list>
        <ion-list id="groupChat-list11" class=" ">
            <ion-item id="groupChat-list-item15" class="  ">message 1</ion-item>
            <ion-item id="groupChat-list-item16" class="  ">Item 2</ion-item>
            <ion-item id="groupChat-list-item17" class="  ">Item 3</ion-item>
        </ion-list>
        <div>
            <ion-footer-bar align-title="left" class="bar-dark">
                <div class="buttons">
                    <button class="button">Attachament</button>
                </div>
                <div><textarea type="text"></textarea>
                </div>
                <div class="buttons" ng-click="doSomething()">
                    <button class="button">Record/Send</button>
                </div>
            </ion-footer-bar>
        </div>
    </ion-content>
</ion-view>
