<ion-view view-title="" hide-nav-bar="true" id="page13" class=" ">
  <div class="row bar bar-header">
    <div class="col"><a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="myGoBack()">Back</a></div>
    <div class="col" ><div class="h4 title">{{name}}</div></div>
    <div class="col" style="text-align: right"><img style="border-radius: 50%" src="img/62CKBkHzSzi0qVdxdSX9_selena-gomez-smile-317.jpg" width="55px"></div>
  </div>
  <ion-content padding="false" class="manual-ios-statusbar-padding has-header">
        <ion-list id="privateChat-list8" class=" ">
            <ion-item class="item-avatar  " id="privateChat-list-item10" ui-sref="friendProfileView">
                <h2>Name of your friend</h2>
                <p>Online/ time ago</p>
            </ion-item>
        </ion-list>
        <ion-list id="privateChat-list9" class=" ">
            <ion-item id="privateChat-list-item11" class="  ">message 1</ion-item>
            <ion-item id="privateChat-list-item12" class="  ">Item 2</ion-item>
            <ion-item id="privateChat-list-item13" class="  ">Item 3</ion-item>
        </ion-list>
        <div>
            <ion-footer-bar align-title="left" class="bar-dark">
                <div class="buttons">
                    <button class="button">Attachament</button>
                </div>
                <div><textarea type="text"></textarea>
                </div>
                <div class="buttons" ng-click="doSomething()">
                    <button class="button">Record/Send</button>
                </div>
            </ion-footer-bar>
        </div>
    </ion-content>
</ion-view>
