<ion-view view-title="" id="page13" class=" ">
  <ion-nav-title>
    <div class="row">
      <div class="col col-offset-25 col-top">
        <div class="row" style="fon-size: 75%"> {{name}}</div>
        <div class="row" style="fon-size: 50%"> Online</div>
      </div>
      <div class="col">
        <img width="65px" style="border-radius: 50%" src="../img/62CKBkHzSzi0qVdxdSX9_selena-gomez-smile-317.jpg">
      </div>
    </div>
  </ion-nav-title>
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <ion-list id="privateChat-list8" class=" ">
            <ion-item class="item-avatar  " id="privateChat-list-item10" ui-sref="friendProfileView">
                <h2>Name of your friend</h2>
                <p>Online/ time ago</p>
            </ion-item>
        </ion-list>
        <ion-list id="privateChat-list9" class=" ">
            <ion-item id="privateChat-list-item11" class="  ">message 1</ion-item>
            <ion-item id="privateChat-list-item12" class="  ">Item 2</ion-item>
            <ion-item id="privateChat-list-item13" class="  ">Item 3</ion-item>
        </ion-list>
        <div>
            <ion-footer-bar align-title="left" class="bar-dark">
                <div class="buttons">
                    <button class="button">Attachament</button>
                </div>
                <div><textarea type="text"></textarea>
                </div>
                <div class="buttons" ng-click="doSomething()">
                    <button class="button">Record/Send</button>
                </div>
            </ion-footer-bar>
        </div>
    </ion-content>
</ion-view>
