<ion-view title="Quiet Hours" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="quietHours-form10" class="list ">
            <ion-toggle toggle-class="toggle-assertive" id="quietHours-toggle3" class=" ">Quiet Hours</ion-toggle>
        </form>
        <button id="quietHours-button9" class=" button button-assertive  button-block button-outline ">Manage Inner Circle</button>
        <ion-list id="quietHours-list19" class=" ">
            <ion-item class="item-divider " id="quietHours-list-item-divider4">Already in inner-circle:</ion-item>
        </ion-list>
        <ion-list id="quietHours-list20" class=" ">
            <ion-item class="item-avatar  " id="quietHours-list-item40">
                <h2>Item 1</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="quietHours-list-item41">
                <h2>Item 2</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="quietHours-list-item42">
                <h2>Item 3</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>