<ion-view title="Settings" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <ion-list id="settings-list7" class=" ">
            <ion-item class="item-icon-left  " id="settings-list-item7" ui-sref="friendProfileView">
                <i class="icon ion-ios-person"></i>Profile
                <span class="item-note">name, set picture, status, profile views</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="settings-list-item8" ui-sref="notifications">
                <i class="icon ion-android-notifications"></i>Notifications
                <span class="item-note">manage notifications in the app</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="settings-list-item43" ui-sref="quietHours">
                <i class="icon ion-android-notifications-off"></i>Quiet Hours
                <span class="item-note">Allow messages only from inner circle</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="settings-list-item9" ui-sref="aboutDeveloper">
                <i class="icon ion-happy"></i>About the developer
                <span class="item-note">Get to know the developer a little more</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>