<ion-view title="Sign-up" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form2" class="list ">
            <ion-list id="signUp-list2" class=" ">
                <label class="item item-select " id="signUp-select1">
                    <span class="input-label">Select Country</span>
                    <select></select>
                </label>
                <label class="item item-input " id="signUp-input5">
                    <input type="tel" placeholder="Enter Mobile Number *">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="verification" id="signUp-button2" class=" button button-positive  button-block ">Send OTP</a>
        </form>
        <p id="signUp-markdown1" style="color:#000000;" class=" ">* A One Time Password (OTP) will be sent to the above specified mobile number for verification.</p>
    </ion-content>
</ion-view>