<ion-view title="Verification" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="verification-form3" class="list ">
            <div class="spacer" style="width: 300px; height: 78px;"></div>
            <ion-list id="verification-list3" class=" ">
                <label class="item item-input " id="verification-input7">
                    <input type="number" placeholder="Enter the 5 digit OTP">
                </label>
            </ion-list>
            <a ui-sref="welcome" id="verification-button4" style="font-weight:600;" class=" button button-positive  button-block ">Verify</a>
        </form>
        <p id="verification-markdown2" style="color:#000000;" class=" ">Didn't get the SMS?</p>
        <button id="verification-button8" class=" button button-positive button-small ">Click Here!</button>
    </ion-content>
</ion-view>