<ion-view title="Welcome" hide-back-button="true" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="welcome-markdown3" style="color:#000000;" class=" ">Just one more step!!</p>
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <div>
            <div style="text-align: center;">
                <div>
                  <input type="image" src="{{image}}" width="100px" style=" border-radius: 50%;" ng-click="">
                </div>
                <div>
                  <button ng-click="uploadImage()" id="my_file">Upload Profile Pic</button>
                </div>
            </div>
        </div>
        <form id="welcome-form4" class="list ">
            <ion-list id="welcome-list4" class=" ">
                <label class="item item-input " id="welcome-input9">
                    <input type="text" placeholder="Enter your name" ng-model="displayName">
                </label>
            </ion-list>
            <a id="welcome-button6" ng-click="saveName(displayName)" ng-disabled="!displayName" class=" button button-positive  button-block ">Save Changes</a>
        </form>
    </ion-content>
</ion-view>
