<ion-view title="YourProfileView" hide-nav-bar="true" id="page15" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <div style="text-align: center;">
                <input type="image" src="http://khojmaster.com/ui/user/realestate/assets/img/no-user.jpg" width="120px" style=" border-radius: 50%;" ng-click="">
                <input type="file" id="my_file" style="display: none;">
            </div>
        </div>
        <form id="yourProfileView-form6" class="list ">
            <label class="item item-input " id="yourProfileView-input10">
                <span class="input-label">Name:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="yourProfileView-textarea1">
                <span class="input-label">Status:</span><textarea placeholder="">Available</textarea>
            </label>
            <ion-item id="yourProfileView-list-item18" class="  ">Number of views on your profile:</ion-item>
        </form>
        <ion-list id="yourProfileView-list12" class=" ">
            <ion-item class="item-divider " id="yourProfileView-list-item-divider1">People who viewed your profile:</ion-item>
            <ion-item id="yourProfileView-list-item19" class="  ">Item 1</ion-item>
            <ion-item id="yourProfileView-list-item20" class="  ">Item 2</ion-item>
        </ion-list>
    </ion-content>
</ion-view>